*~
*.o
*.a
*.so
*.exe
*.d
*.obj
*.log
.svn
*/bin/*
*/lib/*
analyzer/offline/linux/bin/*
analyzer/offline/linux/lib/*
analyzer/offline/linux64/bin/*
analyzer/offline/linux64/lib/*
analyzer/online/linux/bin/*
analyzer/online/linux/lib/*
analyzer/online/linux64/bin/*
analyzer/online/linux64/lib/*
eventbuilder/ebfe
eventbuilder/mevb
frontends/magic_box/frontend
frontends/SIS3350MT/frontend
frontends/masterMT/frontend
frontends/SIS3350MT/frontend_vme
online-display/online-display
tools/AlazarFrontPanel-0.2.17/AlazarFrontPanel
www/bloknot
gmon.out
doc/html/*
root_5.30.02_gcc34_x32
root_5.30.02_gcc43_x32
root_5.30.02_x64
.tmp_versions
.*.*.cmd
.*.*.*.cmd
*.ko
*.ko.unsigned
modules.order
cuda/CUDAToolsSDK/CUPTI/lib/*
cuda/NVIDIA_GPU_Computing_SDK/C/bin/linux/release/*
cuda
midas-lite/linux/bin/*
midas-lite/linux/lib/*
midas-lite/linux64/bin/*
midas-lite/linux64/lib/*
analyzer/offline/MODULES.h
analyzer/offline/MODULES.inc
analyzer/online/MODULES.h
analyzer/online/MODULES.inc
ATS9870sdk/samples/AR_MasterSlave/AcqToDisk
ATS9870sdk/samples/AR_VT/AcqToDisk
ATS9870sdk/samples/AR_VT/data.bin
ATS9870sdk/samples/AlazarSysInfo/AlazarSysInfo
ATS9870sdk/samples/CS/AcqToDisk
ATS9870sdk/samples/CS_MasterSlave/AcqToDisk
ATS9870sdk/samples/NPT/AcqToDisk
ATS9870sdk/samples/NPT_MasterSlave/AcqToDisk
ATS9870sdk/samples/TR/AcqToDisk
ATS9870sdk/samples/TR_MasterSlave/AcqToDisk
ATS9870sdk/samples/TR_VT/AcqToDisk
ATS9870sdk/samples/TS_MasterSlave/AcqToDisk
analyzer/tishenko/linux64/bin/analyzer
frontends/ATS9870/ats9870.c.Mar-25-2012
frontends/EMC/frontend
frontends/SIS3350MT_disk/frontend
